/*PLACEMENT DES ÉLÉMENTS*/
.containerAvecMarges {
   padding-right: 5em;
    padding-left: 5em;
}
.listeSansPuces {
    list-style-type: none !important; /* Supprime les puces */
}

p {
    font-size: 1.25rem; /* Taille équivalente à fs-5 dans Bootstrap */
}

/*SURBRILLANCE DES TAB DE MENU */
li.active {
  font-weight: bold;
  color: blue;
}
.nav-link.active {
    border: 2px solid orange; /* Bordure orange */
    background-color: orange; /* Fond orange */
    color: blue !important; /* Texte bleu */
    border-radius: 5px; /* Coins arrondis */
    padding: 5px 10px; /* Espacement intérieur pour mieux visualiser le fond et la bordure */
}
.nav-link:hover{
    background-color: #f8f9fa;
    color: #0056b3;
    border-radius: 5px;
    padding: 5px 10px;
}
